body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1205px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3879 {
  position:fixed;
  left:0px;
  top:0px;
  width:1269px;
  height:110px;
  overflow:hidden;
}
#u3879_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:110px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3879_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3880 {
  position:absolute;
  left:137px;
  top:4px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3882 {
  position:absolute;
  left:244px;
  top:4px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3884 {
  position:absolute;
  left:1112px;
  top:4px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u3885 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3887 {
  position:absolute;
  left:819px;
  top:4px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3888 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u3889 {
  position:absolute;
  left:874px;
  top:8px;
  width:9px;
  height:6px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3892 {
  position:absolute;
  left:923px;
  top:4px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3893 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u3894 {
  position:absolute;
  left:976px;
  top:8px;
  width:10px;
  height:7px;
}
#u3895 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3896 {
  position:absolute;
  left:1025px;
  top:4px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3897 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00CC00;
}
#u3898 {
  position:absolute;
  left:712px;
  top:4px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#00CC00;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00CC00;
}
#u3900 {
  position:absolute;
  left:752px;
  top:4px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#00CC00;
}
#u3901 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:86px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3902 {
  position:absolute;
  left:0px;
  top:23px;
  width:1269px;
  height:86px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:35px;
  width:1265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:oblique;
  font-size:32px;
  color:#00CC00;
}
#u3904 {
  position:absolute;
  left:78px;
  top:44px;
  width:184px;
  height:35px;
  font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:oblique;
  font-size:32px;
  color:#00CC00;
}
#u3905 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u3907 {
  position:absolute;
  left:335px;
  top:41px;
  width:559px;
  height:41px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u3908 {
  position:absolute;
  left:2px;
  top:12px;
  width:555px;
  word-wrap:break-word;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-left:0px;
  border-radius:20px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3909 {
  position:absolute;
  left:810px;
  top:41px;
  width:83px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u3910 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u3911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u3911 {
  position:absolute;
  left:943px;
  top:49px;
  width:124px;
  height:24px;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u3912 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u3913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u3913 {
  position:absolute;
  left:1087px;
  top:49px;
  width:84px;
  height:26px;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u3914 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u3915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00CC00;
}
#u3916 {
  position:absolute;
  left:82px;
  top:4px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#00CC00;
}
#u3917 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u3918 {
  position:absolute;
  left:109px;
  top:7px;
  width:11px;
  height:9px;
}
#u3919 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3920 {
  position:absolute;
  left:356px;
  top:87px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3921 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3922 {
  position:absolute;
  left:422px;
  top:87px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3924 {
  position:absolute;
  left:475px;
  top:87px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3926 {
  position:absolute;
  left:520px;
  top:87px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u3927 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3928 {
  position:absolute;
  left:334px;
  top:35px;
  width:562px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3929 {
  position:absolute;
  left:78px;
  top:26px;
  width:193px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3879_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:110px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3879_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:67px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3930 {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:67px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:26px;
  width:1265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:oblique;
  font-size:32px;
  color:#00CC00;
}
#u3932 {
  position:absolute;
  left:78px;
  top:18px;
  width:184px;
  height:35px;
  font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:oblique;
  font-size:32px;
  color:#00CC00;
}
#u3933 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u3934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u3935 {
  position:absolute;
  left:335px;
  top:15px;
  width:559px;
  height:41px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u3936 {
  position:absolute;
  left:2px;
  top:12px;
  width:555px;
  word-wrap:break-word;
}
#u3937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-left:0px;
  border-radius:20px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3937 {
  position:absolute;
  left:810px;
  top:15px;
  width:83px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u3938 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u3939 {
  position:absolute;
  left:943px;
  top:23px;
  width:124px;
  height:24px;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u3940 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u3941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u3941 {
  position:absolute;
  left:1087px;
  top:23px;
  width:84px;
  height:26px;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u3942 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u3943 {
  position:absolute;
  left:332px;
  top:9px;
  width:562px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3944 {
  position:absolute;
  left:78px;
  top:5px;
  width:193px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3945 {
  position:absolute;
  left:62px;
  top:160px;
  width:1143px;
  height:623px;
}
#u3946 {
  position:absolute;
  left:2px;
  top:304px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3947 {
  position:absolute;
  left:62px;
  top:202px;
  width:118px;
  height:42px;
}
#u3947_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3947.mouseOver {
}
#u3948 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3949 {
  position:absolute;
  left:62px;
  top:243px;
  width:118px;
  height:42px;
}
#u3949_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3949.mouseOver {
}
#u3950 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3951 {
  position:absolute;
  left:82px;
  top:175px;
  width:73px;
  height:17px;
  font-size:18px;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3953 {
  position:absolute;
  left:83px;
  top:339px;
  width:73px;
  height:17px;
  font-size:18px;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3955 {
  position:absolute;
  left:62px;
  top:372px;
  width:118px;
  height:42px;
  color:#FFFFFF;
}
#u3955_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3955.mouseOver {
}
#u3956 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3957 {
  position:absolute;
  left:62px;
  top:414px;
  width:118px;
  height:42px;
}
#u3957_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3957.mouseOver {
}
#u3958 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3959 {
  position:absolute;
  left:62px;
  top:456px;
  width:118px;
  height:42px;
}
#u3959_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3959.mouseOver {
}
#u3960 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3961 {
  position:absolute;
  left:360px;
  top:108px;
  width:118px;
  height:42px;
}
#u3961_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3961.mouseOver {
}
#u3962 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  position:absolute;
  left:477px;
  top:108px;
  width:118px;
  height:42px;
}
#u3963_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963.mouseOver {
}
#u3964 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  position:absolute;
  left:593px;
  top:108px;
  width:118px;
  height:42px;
}
#u3965_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965.mouseOver {
}
#u3966 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:242px;
  top:108px;
  width:118px;
  height:42px;
}
#u3967_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967.mouseOver {
}
#u3968 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:557px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969 {
  position:absolute;
  left:221px;
  top:202px;
  width:958px;
  height:557px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:270px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3971 {
  position:absolute;
  left:230px;
  top:177px;
  width:57px;
  height:17px;
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:2px;
}
#u3973 {
  position:absolute;
  left:221px;
  top:244px;
  width:958px;
  height:1px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u3975 {
  position:absolute;
  left:62px;
  top:108px;
  width:180px;
  height:42px;
  font-size:15px;
  color:#FFFFFF;
}
#u3976 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3977 {
  position:absolute;
  left:62px;
  top:284px;
  width:118px;
  height:42px;
}
#u3977_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3977.mouseOver {
}
#u3978 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3979 {
  position:absolute;
  left:235px;
  top:217px;
  width:57px;
  height:17px;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u3981 {
  position:absolute;
  left:436px;
  top:250px;
  width:101px;
  height:101px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  word-wrap:break-word;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3983 {
  position:absolute;
  left:264px;
  top:367px;
  width:63px;
  height:21px;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u3985 {
  position:absolute;
  left:345px;
  top:361px;
  width:300px;
  height:27px;
  color:#CCCCCC;
  text-align:left;
}
#u3986 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3987 {
  position:absolute;
  left:664px;
  top:367px;
  width:157px;
  height:17px;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3989 {
  position:absolute;
  left:264px;
  top:406px;
  width:162px;
  height:21px;
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991 {
  position:absolute;
  left:264px;
  top:437px;
  width:162px;
  height:21px;
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3993 {
  position:absolute;
  left:438px;
  top:437px;
  width:29px;
  height:17px;
  color:#FF0000;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:264px;
  top:468px;
  width:63px;
  height:21px;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:2px;
}
#u3997 {
  position:absolute;
  left:221px;
  top:541px;
  width:958px;
  height:1px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999 {
  position:absolute;
  left:235px;
  top:514px;
  width:57px;
  height:17px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4001 {
  position:absolute;
  left:338px;
  top:564px;
  width:100px;
  height:16px;
}
#u4002 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4001_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4003 {
  position:absolute;
  left:486px;
  top:564px;
  width:100px;
  height:16px;
}
#u4004 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4003_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  position:absolute;
  left:265px;
  top:564px;
  width:55px;
  height:17px;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4007 {
  position:absolute;
  left:263px;
  top:605px;
  width:55px;
  height:17px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4009 {
  position:absolute;
  left:328px;
  top:598px;
  width:199px;
  height:25px;
}
#u4009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4010 {
  position:absolute;
  left:328px;
  top:659px;
  width:209px;
  height:32px;
}
#u4011 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4013 {
  position:absolute;
  left:351px;
  top:464px;
  width:199px;
  height:25px;
}
#u4013_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4014 {
  position:absolute;
  left:568px;
  top:469px;
  width:29px;
  height:17px;
}
#u4015 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FF0000;
}
#u4016 {
  position:absolute;
  left:351px;
  top:468px;
  width:43px;
  height:21px;
  text-decoration:underline;
  color:#FF0000;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4018 {
  position:absolute;
  left:5px;
  top:79px;
  width:82px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
