
<!DOCTYPE html>
<html>
<head>
    <title>收货地址</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../address/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="../address/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../address/styles(1).css" type="text/css" rel="stylesheet"/>
    <link href="../address/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../address/jquery-1.7.1.min.js"></script>
    <script src="../address/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../address/axQuery.js"></script>
    <script src="../address/globals.js"></script>
    <script src="../address/axutils.js"></script>
    <script src="../address/annotation.js"></script>
    <script src="../address/axQuery.std.js"></script>
    <script src="../address/doc.js"></script>
    <script src="../address/document.js"></script>

    <script src="../address/messagecenter.js"></script>
    <script src="../address/events.js"></script>
    <script src="../address/recording.js"></script>
    <script src="../address/action.js"></script>
    <script src="../address/expr.js"></script>
    <script src="../address/geometry.js"></script>
    <script src="../address/flyout.js"></script>
    <script src="../address/ie.js"></script>
    <script src="../address/model.js"></script>
    <script src="../address/repeater.js"></script>
    <script src="../address/sto.js"></script>
    <script src="../address/utils.temp.js"></script>
    <script src="../address/variables.js"></script>
    <script src="../address/drag.js"></script>
    <script src="../address/move.js"></script>
    <script src="../address/visibility.js"></script>
    <script src="../address/style.js"></script>
    <script src="../address/adaptive.js"></script>
    <script src="../address/tree.js"></script>
    <script src="../address/init.temp.js"></script>
    <script src="../address/data.js"></script>
    <script src="../address/legacy.js"></script>
    <script src="../address/viewer.js"></script>
    <script src="../address/math.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 顶部悬浮栏 (动态面板) -->
    <div id="u4176" class="ax_default" data-label="顶部悬浮栏">
        <div id="u4176_state0" class="panel_state" data-label="全">
            <div id="u4176_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u4177" class="ax_default label">
                    <div id="u4177_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4178" class="text" style="visibility: visible;">
                        <p><span>欢迎来到果鲜生！</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4179" class="ax_default label">
                    <div id="u4179_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4180" class="text" style="visibility: visible;">
                        <p><span>手机下载</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4181" class="ax_default label">
                    <div id="u4181_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4182" class="text" style="visibility: visible;">
                        <p><span>优惠卷</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u4183" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u4184" class="ax_default label">
                        <div id="u4184_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u4185" class="text" style="visibility: visible;">
                            <p><span>我的果仁</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (形状) -->
                    <div id="u4186" class="ax_default icon">
                        <img id="u4186_img" class="img " src="../personal/u589.png"/>
                        <!-- Unnamed () -->
                        <div id="u4187" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u4188" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u4189" class="ax_default label">
                        <div id="u4189_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u4190" class="text" style="visibility: visible;">
                            <p><span>我的果篮</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (形状) -->
                    <div id="u4191" class="ax_default icon">
                        <img id="u4191_img" class="img " src="../personal/u594.png"/>
                        <!-- Unnamed () -->
                        <div id="u4192" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4193" class="ax_default label">
                    <div id="u4193_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4194" class="text" style="visibility: visible;">
                        <p><span>充值有礼</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4195" class="ax_default label">
                    <div id="u4195_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4196" class="text" style="visibility: visible;">
                        <p><span>[登录]</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4197" class="ax_default label">
                    <div id="u4197_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4198" class="text" style="visibility: visible;">
                        <p><span>[注册]</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4199" class="ax_default box_2">
                    <div id="u4199_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4200" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4201" class="ax_default _二级标题">
                    <div id="u4201_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4202" class="text" style="visibility: visible;">
                        <p><span>LOGO 果鲜生</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u4203" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u4204" class="ax_default box_1">
                        <div id="u4204_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u4205" class="text" style="visibility: visible;">
                            <p><span>&nbsp;&nbsp; &nbsp; 试试 “红心火龙果”</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u4206" class="ax_default box_1">
                        <div id="u4206_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u4207" class="text" style="visibility: visible;">
                            <p><span>搜索</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4208" class="ax_default _二级标题">
                    <div id="u4208_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4209" class="text" style="visibility: visible;">
                        <p><span>59分钟内送达</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4210" class="ax_default _二级标题">
                    <div id="u4210_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4211" class="text" style="visibility: visible;">
                        <p><span>全球直采</span></p>
                    </div>
                </div>

                <!-- 地址 (组合) -->
                <div id="u4212" class="ax_default" data-label="地址">

                    <!-- Unnamed (矩形) -->
                    <div id="u4213" class="ax_default label">
                        <div id="u4213_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u4214" class="text" style="visibility: visible;">
                            <p><span>地址</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (形状) -->
                    <div id="u4215" class="ax_default icon">
                        <img id="u4215_img" class="img " src="../personal/u618.png"/>
                        <!-- Unnamed () -->
                        <div id="u4216" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4217" class="ax_default label">
                    <div id="u4217_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4218" class="text" style="visibility: visible;">
                        <p><span>江西脐橙</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4219" class="ax_default label">
                    <div id="u4219_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4220" class="text" style="visibility: visible;">
                        <p><span>哈密瓜</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4221" class="ax_default label">
                    <div id="u4221_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4222" class="text" style="visibility: visible;">
                        <p><span>草莓</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4223" class="ax_default label">
                    <div id="u4223_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4224" class="text" style="visibility: visible;">
                        <p><span>猕猴桃</span></p>
                    </div>
                </div>

                <!-- Unnamed (热区) -->
                <div id="u4225" class="ax_default">
                </div>

                <!-- Unnamed (热区) -->
                <div id="u4226" class="ax_default">
                </div>
            </div>
        </div>
        <div id="u4176_state1" class="panel_state" data-label="精简" style="display: none; visibility: hidden;">
            <div id="u4176_state1_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u4227" class="ax_default box_2">
                    <div id="u4227_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4228" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4229" class="ax_default _二级标题">
                    <div id="u4229_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4230" class="text" style="visibility: visible;">
                        <p><span>LOGO 果鲜生</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u4231" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u4232" class="ax_default box_1">
                        <div id="u4232_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u4233" class="text" style="visibility: visible;">
                            <p><span>&nbsp;&nbsp; &nbsp; 试试 “红心火龙果”</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u4234" class="ax_default box_1">
                        <div id="u4234_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u4235" class="text" style="visibility: visible;">
                            <p><span>搜索</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4236" class="ax_default _二级标题">
                    <div id="u4236_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4237" class="text" style="visibility: visible;">
                        <p><span>59分钟内送达</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u4238" class="ax_default _二级标题">
                    <div id="u4238_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u4239" class="text" style="visibility: visible;">
                        <p><span>全球直采</span></p>
                    </div>
                </div>

                <!-- Unnamed (热区) -->
                <div id="u4240" class="ax_default">
                </div>

                <!-- Unnamed (热区) -->
                <div id="u4241" class="ax_default">
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4242" class="ax_default box_2">
        <div id="u4242_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4243" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4244" class="ax_default box_1">
        <div id="u4244_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4245" class="text" style="visibility: visible;">
            <p><span>我的订单</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4246" class="ax_default box_1">
        <div id="u4246_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4247" class="text" style="visibility: visible;">
            <p><span>我的钱包</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4248" class="ax_default label">
        <div id="u4248_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4249" class="text" style="visibility: visible;">
            <p><span>交易信息</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4250" class="ax_default label">
        <div id="u4250_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4251" class="text" style="visibility: visible;">
            <p><span>账号信息</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4252" class="ax_default box_1">
        <div id="u4252_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4253" class="text" style="visibility: visible;">
            <p><span>个人资料</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4254" class="ax_default box_1">
        <div id="u4254_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4255" class="text" style="visibility: visible;">
            <p><span>账号安全</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4256" class="ax_default box_1">
        <div id="u4256_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4257" class="text" style="visibility: visible;">
            <p><span>收货地址</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4258" class="ax_default box_1">
        <div id="u4258_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4259" class="text" style="visibility: visible;">
            <p><span>新品上市</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4260" class="ax_default box_1">
        <div id="u4260_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4261" class="text" style="visibility: visible;">
            <p><span>人气果王</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4262" class="ax_default box_1">
        <div id="u4262_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4263" class="text" style="visibility: visible;">
            <p><span>限时折扣</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4264" class="ax_default box_1">
        <div id="u4264_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4265" class="text" style="visibility: visible;">
            <p><span>首页</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4266" class="ax_default box_1">
        <div id="u4266_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4267" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4268" class="ax_default label">
        <div id="u4268_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4269" class="text" style="visibility: visible;">
            <p><span>收货地址</span></p>
        </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u4270" class="ax_default line">
        <img id="u4270_img" class="img " src="../address/u2817.png"/>
        <!-- Unnamed () -->
        <div id="u4271" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4272" class="ax_default box_2">
        <div id="u4272_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4273" class="text" style="visibility: visible;">
            <p><span>我的果仁</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4274" class="ax_default box_1">
        <div id="u4274_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4275" class="text" style="visibility: visible;">
            <p><span>优惠券</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4276" class="ax_default button">
        <div id="u4276_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4277" class="text" style="visibility: visible;">
            <p><span>+ 添加新地址</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4278" class="ax_default label">
        <div id="u4278_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4279" class="text" style="visibility: visible;">
            <p><span>收货人：XXXXX&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 手机号：XXX-XXXX-XXXX</span></p><p><span>地址：XXXX省XXX市XXXX区XXXX街道XXX小区XXX栋XXX号XX楼</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4280" class="ax_default label">
        <div id="u4280_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4281" class="text" style="visibility: visible;">
            <p><span>收货人：XXXXX&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 手机号：XXX-XXXX-XXXX</span></p><p><span>地址：XXXX省XXX市XXXX区XXXX街道XXX小区XXX栋XXX号XX楼</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4282" class="ax_default label">
        <div id="u4282_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4283" class="text" style="visibility: visible;">
            <p><span>收货人：XXXXX&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 手机号：XXX-XXXX-XXXX</span></p><p><span>地址：XXXX省XXX市XXXX区XXXX街道XXX小区XXX栋XXX号XX楼</span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u4284" class="ax_default icon">
        <img id="u4284_img" class="img " src="../address/u4284.png"/>
        <!-- Unnamed () -->
        <div id="u4285" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u4286" class="ax_default icon">
        <img id="u4286_img" class="img " src="../address/u4286.png"/>
        <!-- Unnamed () -->
        <div id="u4287" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u4288" class="ax_default icon">
        <img id="u4288_img" class="img " src="../address/u4286.png"/>
        <!-- Unnamed () -->
        <div id="u4289" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4290" class="ax_default label">
        <div id="u4290_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4291" class="text" style="visibility: visible;">
            <p><span>编辑</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4292" class="ax_default label">
        <div id="u4292_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4293" class="text" style="visibility: visible;">
            <p><span>编辑</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4294" class="ax_default label">
        <div id="u4294_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4295" class="text" style="visibility: visible;">
            <p><span>编辑</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4296" class="ax_default label">
        <div id="u4296_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4297" class="text" style="visibility: visible;">
            <p><span>删除</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4298" class="ax_default label">
        <div id="u4298_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4299" class="text" style="visibility: visible;">
            <p><span>删除</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4300" class="ax_default label">
        <div id="u4300_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4301" class="text" style="visibility: visible;">
            <p><span>删除</span></p>
        </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u4302" class="ax_default line">
        <img id="u4302_img" class="img " src="../address/u2817.png"/>
        <!-- Unnamed () -->
        <div id="u4303" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u4304" class="ax_default line">
        <img id="u4304_img" class="img " src="../address/u2817.png"/>
        <!-- Unnamed () -->
        <div id="u4305" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u4306" class="ax_default line">
        <img id="u4306_img" class="img " src="../address/u2817.png"/>
        <!-- Unnamed () -->
        <div id="u4307" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u4308" class="ax_default ax_default_hidden" style="display: none; visibility: hidden">

        <!-- 添加地址 (图片) -->
        <div id="u4309" class="ax_default _图片" data-label="添加地址">
            <img id="u4309_img" class="img " src="../address/添加地址_u2496.png"/>
            <!-- Unnamed () -->
            <div id="u4310" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (热区) -->
        <div id="u4311" class="ax_default">
        </div>

        <!-- Unnamed (热区) -->
        <div id="u4312" class="ax_default">
        </div>
    </div>

    <!-- 节点 (热区) -->
    <div id="u4313" class="ax_default" data-label="节点">
    </div>
</div>
</body>
</html>
