<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <!-- 引入EasyUI的样式文件-->
    <link rel="stylesheet"
          href="/js/EasyUI/themes/bootstrap/easyui.css" type="text/css"/>

    <!-- 引入EasyUI的图标样式文件-->
    <link rel="stylesheet"
          href="/js/EasyUI/themes/icon.css"

          type="text/css"/>

    <link rel="stylesheet" href="/js/EasyUI/themes/color.css"/>

    <!-- 引入jQuery -->
    <script type="text/javascript" src="/js/jquery-1.8.0.js"></script>

    <!-- 引入EasyUI -->
    <script type="text/javascript"
            src="/js/EasyUI/jquery.easyui.min.js"></script>

    <!-- 引入EasyUI的中文国际化js，让EasyUI支持中文 -->
    <script type="text/javascript"
            src="/js/EasyUI/locale/easyui-lang-zh_CN.js"></script>

    <!-- 引入EasyUI的中文国际化js，让EasyUI支持中文 -->
    <script type="text/javascript"
            src="/js/EasyUI/util-js.js"></script>
</head>
<body>

<div id="cc" class="easyui-layout" style="width:600px;height:400px;" fit="true">
    <div data-options="region:'north'" style="height:100px;"></div>
    <div data-options="region:'west'" style="width:200px;">
        <!-- 树 -->
        <ul id="tree"></ul>
    </div>
    <div data-options="region:'center'" fit="true" >
        <!-- 选项卡 -->
        <div id="tabs" class="easyui-tabs" style="width:500px;height:250px;" fit="true"></div>
    </div>

</div>


<script type="text/javascript"
        src="/index.js"></script>

</body>
</html>