
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人资料</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../personal/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="../fruitsInfojs/alert/alert.css"/>
    <link href="../personal/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../personal/styles(1).css" type="text/css" rel="stylesheet"/>
    <link href="../personal/styles.css" type="text/css" rel="stylesheet"/>

    <link rel="stylesheet" href="../js/layui/css/layui.css" media="all">
    <!-- uploadify -->
    <link rel="stylesheet" href="../js/uploadify/uploadify.css" type="text/css"/>
    <script src="../yx/Yhq/jquery-1.7.1.min.js"></script>
    <script src="../yx/Yhq/jquery-ui-1.8.10.custom.min.js"></script>


    <script src="../js/jquery-1.8.0.js"></script>
    <!-- uploadify -->
    <script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>
    <script src="../js/layui/layui.js"></script>

    <script src="../personal/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../personal/axQuery.js"></script>
    <script src="../personal/annotation.js"></script>


    <script src="../personal/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../personal/axQuery.js"></script>
    <script src="../personal/globals.js"></script>
    <script src="../personal/axutils.js"></script>
    <script src="../personal/annotation.js"></script>
    <script src="../personal/axQuery.std.js"></script>
    <script src="../personal/doc.js"></script>
    <script src="../personal/document.js"></script>

    <script src="../personal/messagecenter.js"></script>
    <script src="../personal/events.js"></script>
    <script src="../personal/recording.js"></script>
    <script src="../personal/action.js"></script>
    <script src="../personal/expr.js"></script>
    <script src="../personal/geometry.js"></script>
    <script src="../personal/flyout.js"></script>
    <script src="../personal/ie.js"></script>
    <script src="../personal/model.js"></script>
    <script src="../personal/repeater.js"></script>
    <script src="../personal/sto.js"></script>
    <script src="../personal/utils.temp.js"></script>
    <script src="../personal/variables.js"></script>
    <script src="../personal/drag.js"></script>
    <script src="../personal/move.js"></script>
    <script src="../personal/visibility.js"></script>
    <script src="../personal/style.js"></script>
    <script src="../personal/adaptive.js"></script>
    <script src="../personal/tree.js"></script>
    <script src="../personal/init.temp.js"></script>
    <script src="../personal/data.js"></script>
    <script src="../personal/legacy.js"></script>
    <script src="../personal/viewer.js"></script>
    <script src="../personal/math.js"></script>
    <script src="../fruitsInfojs/alert/alert.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return '../personal/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
    <style type="text/css">
        a{
            color: black;
            text-decoration: none;
        }
        .Inpt{border:0;outline:none;/*去除蓝色边框*/}
        .Inpt2{border:0;outline:none;/*去除蓝色边框*/}

    </style>
</head>
<body>
<div id="base" class="">

    <!-- 顶部悬浮栏 (动态面板) -->
    <div id="u3879" class="ax_default" data-label="顶部悬浮栏" style="z-index: 1001;">
        <div id="u3879_state0" class="panel_state" data-label="全">
            <div id="u3879_state0_content" class="panel_state_content">



                <div style="width:100%;margin-left:90px;position: absolute;left: 0px;top: 2px;width: 200px;white-space: nowrap;">
                    <span th:style="${flag}!=''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 30px">当前用户：<font color="red"><span th:text="${flag}"></span></font></span>
                        <span style="cursor:pointer;margin-left: 15px" onclick="toOut()">退出</span>
                    </span>
                </div>
                <div style="width:100%;margin-left:700px;position: absolute;left: 0px;top: 2px;width: 500px;white-space: nowrap;">
                    <span th:style="${flag}==''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 30px" onclick="toLogin()"><font color="#33cc00">[登陆]</font></span>
                        <span style="cursor:pointer;margin-left: 10px" onclick="toRegister()"><font color="#33cc00">[注册]</font></span>
                    </span>


                    <span th:style="${flag}!=''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 30px">我的果仁</span>
                    </span>
                    <span style="cursor:pointer;margin-left: 50px" onclick="toShoppingCar()">我的果篮</span>
                    <span th:style="${flag}!=''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 50px" onclick="toCoupon()">优惠卷</span>
                    </span>

                </div>




                <!-- Unnamed (矩形) -->
                <div id="u3902" class="ax_default box_2">
                    <div id="u3902_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3903" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3904" class="ax_default _二级标题">
                    <div id="u3904_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3905" class="text" style="visibility: visible;">
                        <p><span>LOGO 果鲜生</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u3906" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u3907">
                        <div id="u3907_div" class="">
                            <input id="input2" onchange="cop2()" placeholder="试试 “草莓”" style="width: 490px;height: 41px;border-radius:18px;padding-left:20px;"  class="Inpt"/>
                        </div>
                        <!-- Unnamed () -->
                        <div class="text" style="visibility: visible; top: 11px; transform-origin: 277.5px 9.5px 0px;">
                            <p><span>&nbsp;&nbsp; &nbsp; 试试 “红心火龙果”</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u3909" class="ax_default box_1">
                        <div id="u3909_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u3910" class="text" style="visibility: visible; top: 11px; transform-origin: 39.5px 9.5px 0px;">
                            <p><span onclick="toSearch()" style="cursor:pointer;">搜索</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3911" class="ax_default _二级标题">
                    <div id="u3911_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3912" class="text" style="visibility: visible;">
                        <p><span>59分钟内送达</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3913" class="ax_default _二级标题">
                    <div id="u3913_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3914" class="text" style="visibility: visible;">
                        <p><span>全球直采</span></p>
                    </div>
                </div>


                <!-- Unnamed (矩形) -->
                <div id="u3920" class="ax_default label">
                    <div id="u3920_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3921" class="text" style="visibility: visible;">
                        <p><span>江西脐橙</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3922" class="ax_default label">
                    <div id="u3922_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3923" class="text" style="visibility: visible;">
                        <p><span>哈密瓜</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3924" class="ax_default label">
                    <div id="u3924_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3925" class="text" style="visibility: visible;">
                        <p><span>草莓</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3926" class="ax_default label">
                    <div id="u3926_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3927" class="text" style="visibility: visible;">
                        <p><span>猕猴桃</span></p>
                    </div>
                </div>



                <!-- Unnamed (热区) -->
                <div id="u3929" class="ax_default" tabindex="0" style="cursor: pointer;">
                </div>
            </div>
        </div>
        <div id="u3879_state1" class="panel_state" data-label="精简" style="display: none; visibility: hidden;">
            <div id="u3879_state1_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u3930" class="ax_default box_2">
                    <div id="u3930_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3931" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3932" class="ax_default _二级标题">
                    <div id="u3932_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3933" class="text" style="visibility: visible;">
                        <p><span>LOGO 果鲜生</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u3934" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u3935">
                        <div id="u3935_div" class="">
                            <input id="input1" onchange="cop()" placeholder="试试 “草莓”" style="width: 490px;height: 41px;border-radius:18px;padding-left:20px;"  class="Inpt"/>
                        </div>
                        <!-- Unnamed () -->
                        <div class="text" style="visibility: visible;">
                            <p><span>&nbsp;&nbsp; &nbsp; 试试 “红心火龙果”</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u3937" class="ax_default box_1">
                        <div id="u3937_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u3938" class="text" style="visibility: visible;">
                            <p><span onclick="toSearch()" style="cursor:pointer;">搜索</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3939" class="ax_default _二级标题">
                    <div id="u3939_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3940" class="text" style="visibility: visible;">
                        <p><span>59分钟内送达</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3941" class="ax_default _二级标题">
                    <div id="u3941_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3942" class="text" style="visibility: visible;">
                        <p><span>全球直采</span></p>
                    </div>
                </div>



                <!-- Unnamed (热区) -->
                <div id="u3944" class="ax_default" tabindex="0" style="cursor: pointer;">
                </div>
            </div>
        </div>
    </div>



    <!-- Unnamed (矩形) -->
    <div id="u3945" class="ax_default box_2">
        <div id="u3945_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3946" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
   <!-- <div id="u3947" class="ax_default box_1">
        <div id="u3947_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3948" class="text" style="visibility: visible;">
            <p><span>我的订单</span></p>
        </div>
    </div>-->


    <!-- Unnamed (矩形) -->
    <!--<div id="u3949" class="ax_default box_1">
        <div id="u3949_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3950" class="text" style="visibility: visible;">
            <p><span>我的钱包</span></p>
        </div>
    </div>-->

    <!-- Unnamed (矩形) -->
    <div id="u3951" class="ax_default label">
        <div id="u3951_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3952" class="text" style="visibility: visible;">
            <p><span>账号信息</span></p>
        </div>

        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;margin-top: 26px;text-align: center;padding-top: 12px">
            <span><font size="2px" onclick="myOrder()">我的订单</font></span>
        </div>
        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;text-align: center;padding-top: 12px">
            <span onclick="toCoupon()"><font size="2px" >优惠券</font></span>
        </div>
        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;text-align: center;padding-top: 12px">
            <span onclick="toUser()"><font size="2px">个人资料</font></span>
        </div>
        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;text-align: center;padding-top: 12px">
            <span onclick="anquan()"><font size="2px">账号安全</font></span>
        </div>
    </div>



    <!--&lt;!&ndash; Unnamed (矩形) &ndash;&gt;
    <div id="u3955" class="ax_default box_1">
        <div id="u3955_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3956" class="text" style="visibility: visible;">
            <p><span>个人资料</span></p>
        </div>
    </div>

    &lt;!&ndash; Unnamed (矩形) &ndash;&gt;
    <div id="u3957" class="ax_default box_1">
        <div id="u3957_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3958" class="text" style="visibility: visible;">
            <p><span>账号安全</span></p>
        </div>
    </div>-->




    <!-- Unnamed (矩形) -->
    <div id="u3967" class="ax_default box_1">
        <div id="u3967_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3968" class="text" style="visibility: visible;cursor:pointer;">
            <p><span>首页</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3969" class="ax_default box_1">
        <div id="u3969_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3970" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3971" class="ax_default label">
        <div id="u3971_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3972" class="text" style="visibility: visible;">
            <p><span>个人资料</span></p>
        </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u3973" class="ax_default line">
        <img id="u3973_img" class="img " src="../personal/u3973.png"/>
        <!-- Unnamed () -->
        <div id="u3974" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3975" class="ax_default box_2">
        <div id="u3975_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3976" class="text" style="visibility: visible;">
            <p><span>我的果仁</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
   <!-- <div id="u3977" class="ax_default box_1">
        <div id="u3977_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3978" class="text" style="visibility: visible;">
            <p><span>优惠券</span></p>
        </div>
    </div>-->

    <!-- Unnamed (矩形) -->
    <div id="u3979" class="ax_default label">
        <div id="u3979_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3980" class="text" style="visibility: visible;">
            <p><span>基本信息</span></p>
        </div>
    </div>
    <!-- Unnamed (椭圆形) -->
    <div id="u3981" class="ax_default ellipse">
        <!-- <img id="u3981_img" class="img " src="images/个人资料/u3981.png"/>
         &lt;!&ndash; Unnamed () &ndash;&gt;
         <div id="u3982" class="text" style="visibility: visible;">
             <p><span>上传头像</span></p>
         </div>-->
        <input type="hidden" name="userImg" id="userImgId">
        <!--图片回显的img标签-->
        <div id="showImgDiv" style="width: 70px;height: 70px;border-radius:50px;border-style:solid;border-width:1px; border-color:black;">
            <img src="../js/06051452309804.jpg" id="showImg"style="border-radius:50px;width: 70px;height: 70px;">
        </div>
        <input type="file" id="imgFileBTN" >
        <!--显示进度条的div
        <div id="showBars" ></div>-->
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3983" class="ax_default label">
        <div id="u3983_div" class=""></div>
        <div id="u3984" class="text" style="visibility: visible;">
            <p><span>姓&nbsp; &nbsp;&nbsp; 名：&nbsp; &nbsp;&nbsp;&nbsp;<input th:value="${user.sincerityName}" id="sincerityNameId" name="sincerityName" style="padding-left:20px;width:297px;height:25px;border-radius:10px;border: solid 1px black" class="Inpt2"/></span></p>
        </div>

    </div>


    <!--  <div id="u3985" class="ax_default box_1">
          <div id="u3985_div" class=""><input style="width:297px;height:25px"/></div>
      </div>-->



    <!-- Unnamed (矩形) -->
    <div id="u3989" class="ax_default label">
        <div id="u3989_div" class=""></div>
        <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
        <div id="u3990" class="text" style="visibility: visible;">
            <p><span>用 户 名：&nbsp; &nbsp;&nbsp;
                <input id="userNameId" name="userName" th:value="${user.userName}" style="padding-left:20px;width:297px;height:25px;border-radius:10px;border: solid 1px black" class="Inpt2" disabled/>
            </span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3991" class="ax_default label">
        <div id="u3991_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3992" class="text" style="visibility: visible;">
            <p><span>手 机 号：&nbsp; &nbsp;&nbsp;
                <input id="userPhoneId" name="userPhone" th:value="${user.userPhone}" style="padding-left:20px;width:297px;height:25px;border-radius:10px;border: solid 1px black" class="Inpt2" />
            </span></p>
        </div>
    </div>


    <!-- Unnamed (矩形) -->
    <div id="u3995" class="ax_default label">
        <div id="u3995_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3996" class="text" style="visibility: visible;">
            <p><span>邮&nbsp; &nbsp;&nbsp; 箱：&nbsp; &nbsp;&nbsp;&nbsp;
                <input id="userEmailId" name="userEmail" th:value="${user.userEmail}" style="padding-left:20px;width:297px;height:25px;border-radius:10px;border: solid 1px black" class="Inpt2"/>
            </span></p>
        </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u3997" class="ax_default line">
        <img id="u3997_img" class="img " src="images/个人资料/u3973.png"/>
        <!-- Unnamed () -->
        <div id="u3998" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3999" class="ax_default label">
        <div id="u3999_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4000" class="text" style="visibility: visible;">
            <p><span>选填信息</span></p>
        </div>
    </div>

    <!-- Unnamed (单选按钮) -->
    <div id="u4001" class="ax_default radio_button">
        <label for="u4001_input">
            <!-- Unnamed () -->
            <div id="u4002" class="text" style="visibility: visible;">
                <input type="radio"  name="userSex" value="1" th:checked="${user.userSex}==1"/>男
                &nbsp;&nbsp;
                <input type="radio"  name="userSex" value="2" th:checked="${user.userSex}==2"/>女
            </div>
        </label><!--th:field="*{user.userSex}"-->
        <!--
                <input id="u4001_input" type="radio" value="radio" name="u4001" checked/>
        -->
    </div>


    <!-- Unnamed (单选按钮) -->
    <div id="u4003" class="ax_default radio_button">
        <label for="u4003_input">
            <!-- Unnamed () -->
            <div id="u4004" class="text" style="visibility: visible;">
            </div>
        </label>
        <!--
                <input id="u4003_input" type="radio" value="radio" name="u4003"/>
        -->
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4005" class="ax_default label">
        <div id="u4005_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4006" class="text" style="visibility: visible;">
            <p><span>性&nbsp;&nbsp; 别：</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u4007" class="ax_default label">
        <div id="u4007_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4008" class="text" style="visibility: visible;">
            <p><span>生&nbsp;&nbsp; 日：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="date" id="userBirthdayId" th:value="${user.userBirthday}" name="userBirthday" style="padding-left:20px;width:160px;border-radius:10px;border: solid 1px black" class="Inpt2">
            </span></p>
        </div>
    </div>




    <!-- Unnamed (文本框) -->
    <!--<div id="u4009" class="ax_default text_field">
        <input type="date" value="" style="width: 160px;color: rgb(153, 153, 153);"/>
    </div>-->
    <!-- Unnamed (矩形) -->
    <div id="u4010" class="ax_default button">
        <div id="u4010_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4011" class="text" style="visibility: visible;cursor:pointer;">
            <p><span onclick="addUser()"><!--<a href="addUser()">-->保存<!--</a>--></span></p>
        </div>
    </div>


    <!-- Unnamed (矩形) -->
 <!-- <div id="u4010" >
        <div id="u4010_div" class="">

        </div>
       <div id="u4011" class="text" style="visibility: visible;">
            <p><span><a href="addUser()">保存</a></span></p>
        </div>
    </div>-->
    <!--<a href="addUser()">保存</a>-->
   <!-- &lt;!&ndash; 邮箱验证 (组合) &ndash;&gt;
    <div id="u4012" class="ax_default ax_default_hidden" data-label="邮箱验证" style="display: none; visibility: hidden">

        &lt;!&ndash; 邮箱输入框 (文本框) &ndash;&gt;
        <div id="u4013" class="ax_default text_field" data-label="邮箱输入框">
            <input id="u4013_input" type="email" value=""/>
        </div>

        &lt;!&ndash; Unnamed (矩形) &ndash;&gt;
        <div id="u4014" class="ax_default label">
            <div id="u4014_div" class=""></div>
            &lt;!&ndash; Unnamed () &ndash;&gt;
            <div id="u4015" class="text" style="visibility: visible;">
                <p><span>验证</span></p>
            </div>
        </div>
    </div>

    &lt;!&ndash; 未绑定 (矩形) &ndash;&gt;
    <div id="u4016" class="ax_default label" data-label="未绑定">
        <div id="u4016_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u4017" class="text" style="visibility: visible;">
            <p><span style="text-decoration:underline;">未绑定</span></p>
        </div>
    </div>
-->



    <!-- 节点 (热区) -->
    <div id="u4018" class="ax_default" data-label="节点">
    </div>
</div>

<input type="hidden" id="userId" th:value="${user.userId}"/>

<script>


    $(function(){
        //文件域的id
        $("#imgFileBTN").uploadify({
            //前台请求后台的url 不可忽略的参数
            'uploader' :"../personal/upImg",
            //插件自带 不可忽略的参数
            'swf' : '../js/uploadify/uploadify.swf',
            //撤销按钮的图片路径
            'cancelImg' : '../js/uploadify/uploadify-cancel.png',
            //如果为true 为自动上传 在文件后 为false 那么它就要我们自己手动点上传按钮
            'auto' : true,
            //可以同时选择多个文件 默认为true 不可忽略
            'multi' : false,
            //给上传按钮设置文字
            'buttonText' : '上传头像',
            //上传后队列是否消失
            'removeCompleted' : true,
            'removeTimeout' : 1,
            //上传文件的个数
            'uploadLimit' : 2,
            'fileTypeExts' : '*.jpg;*.jpge;*.gif;*.png',
            'fileSizeLimit' : '2MB',
            //给div的进度条加背景 不可忽略
            'queueID' : 'showBars',
            // controller层方法中接收文件的参数名
            'fileObjName' : 'artImg',
//      上传成功后的回调函数
            'onUploadSuccess' : function(file, data, response) {
                //alert(data);
                $("#showImg").prop("src","../"+data);
                $("#addphoto").val(data);
            }

        });
    })

function addUser(){

    $.ajax({
        url:"../personal/addUser",
        type:"post",
        data:{
            userId:$('#userId').val(),
            userImg:$('#userImgId').val(),
            sincerityName:$('#sincerityNameId').val(),
            userPhone:$('#userPhoneId').val(),
            userEmail:$('#userEmailId').val(),
            userSex:$('input[name="userSex"]:checked').val(),
            userBirthday:$('#userBirthdayId').val(),
        },
        success:function(data){
            //jqueryAlert({'content' : '保存成功'})
            jqueryAlert({
                'content' : '保存成功！'
            })
        }
    })
}


    //将文本框1的内容同步到文本框2
    function cop(){
        var input1 = $('#input1').val();
        $('#input2').val(input1);
    }

    //将文本框2的内容同步到文本框1
    function cop2(){
        var input2 = $('#input2').val();
        $('#input1').val(input2);
    }

    //跳转solr搜索页面
    function toSearch(){
        var input = $('.Inpt').val();
        location.href="../searchFruits/toSearchFruits?input="+input;
    }

    //跳转登陆页面
    function toLogin(){
        location.href="../user/toLogin2";
    }

    //跳转注册页面
    function toRegister(){
        location.href="../user/toRegister2";
    }

    //退出
    function toOut(){
        location.href="../user/toOut";
    }

    //跳转到优惠券页面
    function toCoupon(){
        location.href="../user/优惠券-未使用.html";
    }

    //跳转到购物车页面
    function toShoppingCar(){
        location.href="../fruitsInfo/toShoppingCar?code=1";
    }

    $('#u3968').click(function(){
        location.href="../user/toIndex";
    })

    //账号安全
    function anquan(){
        location.href="../user/账户安全.html";
    }

    //跳转我的果仁
    function toUser(){
        location.href="../user/个人资料.html";
    }

    //跳转我的订单页面
    function myOrder(){
        location.href="../yx/toMyOrder";
    }
</script>


</body>
</html>
