
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <link href="//member-ssl.vipstatic.com/css/public/passport/1/common-hash-153439cd.css" type="text/css" rel="stylesheet" />
    <link href="//member-ssl.vipstatic.com/css/public/passport/1/login-hash-92e8c9c4.css" type="text/css" rel="stylesheet" />
    <!-- 只允许引入两个js文件 -->
    <script type="text/javascript">
        var staticHost='https://user.vipstatic.com/passport',domainHost='https://passport.vip.com',imageHost='https://passport.vip.com/static',ctx='',abcType='';
    </script>
    <script type="text/javascript" src="//member-ssl.vipstatic.com/js/public/jquery-1.10.2-hash-bdce12c9.js"></script>
    <script type="text/javascript" src="//member-ssl.vipstatic.com/js/public/passport/1/core-hash-d3da7afc.js"></script><script type="text/javascript" src="//member-ssl.vipstatic.com/js/public/core3-hash-95fd0822.js"></script>
    <title>果鲜生网站注册</title>
</head>
<body class="regSingle  J-container">
<div class="c-header"
     passport_mars_sead_hover>
    <div class="c-header-inner">
        <div class="c-logo">

        </div>

        <div class="c-service"></div>
    </div>
</div>

<div class="c-body  J-ads"
     data-adsid="ADSJ867S"
     data-bg="true">
    <div class="c-content  f-clearfix">
        <div class="c-register  f-right">
            <div class="c-register-header">
                <div class="c-register-switch-login"
                     passport_mars_sead_hover>
                    已注册可<!--
                     --><a href="/user/pagelogins"><>直接登录</a>
                </div>
                <h3 class="c-register-title">会员注册</h3>
            </div>
            <div class="c-register-body">
                <input type="hidden" name="vipc" value="1c28168a8c5146349bf7f0b6f5e72a5b" />
                <div id="reg-form-wrapper">
                    <div class="ui-tips-big ui-tips1 c-register-top-tips hidden">
                        <i class="vipFont if-sigh">&#xe603;</i>
                        <a href="javascript:;" role="button" class="close">&times;</a>
                        <p class="info"><i class="vipFont if-sigh">&#xe603;</i><span class="info-msg"></span></p>
                    </div>

                    <form id="reg_mobile_form" action="/register" method="post" autocomplete="off" class="register-form">
                        <div class="control-group  has-form-item-icon  clearfix">
                            <div class="ui-form-item-group">
                                <input type="text"
                                       class="ui-input ipt-phone" id="J_mobile_name"
                                       name="loginName"
                                       placeholder="请输入手机号码"
                                       passport_mars_sead_hover passport_mars_sead_input='mobileRegMobile'/>
                                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                                <span class="c-icon  c-icon-mobile  c-icon-form"></span>
                            </div>
                            <div class="u-input-tip"><span class="text"></span></div>
                        </div>

                        <div class="control-group" id="J_verify_code_mobile"></div>

                      <!--  <div class="control-group  has-form-item-icon  clearfix">
                            <div class="ui-form-item-group adjust-tip-icon">
                                <input type="text"
                                       id="J_mobile_code" class="ui-input ipt-verify-code"
                                       name="pvcode"
                                       placeholder="请输入验证码"
                                       passport_mars_sead_hover passport_mars_sead_input='mobileRegMobileCode'/>&lt;!&ndash;
             &ndash;&gt;<a href="javascript:;"
                   role="button"
                   id="J_mobile_verifycode_btn" class="ui-btn-medium ui-btn-disable btn-verify-code"
                   passport_mars_sead_hover
                   tabIndex="-1">获取验证码</a>
                                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                                <span class="c-icon  c-icon-captcha  c-icon-form"></span>
                            </div>
                            <div class="u-input-tip"><span class="text"></span></div>
                        </div>-->

                        <div class="control-group  has-form-item-icon  clearfix">
                            <div class="ui-form-item-group">
                                <input type="password"
                                       class="ui-input" id="J_mobile_pwd"
                                       name="password"
                                       maxlength="20"
                                       placeholder="密码由6-20位字母，数字和符号组合"
                                       passport_mars_sead_hover
                                       passport_mars_sead_input='mobileRegPw'/>
                                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                                <span class="c-icon  c-icon-password  c-icon-form"></span>
                            </div>
                            <div class="u-input-tip">
                <span class="strength-indicator">
                    <span class="indicator-item-bg">
                        <span class="indicator-item"></span>
                    </span>
                    <span class="indicator-text text-weak">弱</span>
                    <span class="indicator-text text-medium">中</span>
                    <span class="indicator-text text-strong">强</span>
                </span><!--
             --><span class="text password-tip"></span>
                            </div>
                        </div>

                        <div class="control-group  has-form-item-icon  clearfix">
                            <div class="ui-form-item-group">
                                <input type="password"
                                       class="ui-input confirm-pwd" id="J_mobile_confirm_pwd"
                                       name="confirmPassword"
                                       maxlength="20"
                                       placeholder="请再次输入上面的密码"
                                       passport_mars_sead_hover
                                       passport_mars_sead_input='mobileRegCPw'/>
                                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                                <span class="c-icon  c-icon-password  c-icon-form"></span>
                            </div>
                            <div class="u-input-tip"><span class="text"></span></div>
                        </div>

                        <div class="control-group clearfix">
                            <div class="ui-form-item-group">
                <span class="ui-checkbox mr0">
                    <input type="checkbox" id="J_mobile_agree" name="agree" class="ui-checkbox-normal" value="1"><label for="J_mobile_agree" class="ui-checkbox-simulation"></label>
                </span>
                                <label for="J_mobile_agree" class="u-provision-txt">我已阅读并接受以下条款：<a href="http://support.vip.com/clause/" class="u-link" target="_blank" id="J_mobile_provision">《唯品会服务条款》</a><a href="http://support.vip.com/privacy/" class="u-link" target="_blank">《隐私条款》</a><a href="https://i.vpal.com/clause.html" class="u-link" target="_blank">《唯品支付用户服务协议》</a><a href="https://grcredit.vip.com/pc/protocol" class="u-link" target="_blank">《唯品信用服务协议》</a></label>
                            </div>
                            <div class="u-input-tip"><span class="text"></span></div>
                        </div>

                        <div class="control-group mb30 clearfix">
                            <a href="javascript:;" role="button" id="J_mobile_reg_button" class="ui-btn-large ui-btn-primary ui-btn-loading reg-form-btn form-submit" passport_mars_sead_hover>
                                <span class="ui-btn-loading-before">立即注册</span>
                                <span class="ui-btn-loading-after"><i class="ii-loading-gray-16x16"></i><span class="ui-btn-txt">处理中...</span></span>
                            </a>
                        </div>
                    </form>

                    <form id="reg_email_form" action="/register" method="post" autocomplete="off" class="register-form hidden">
                        <div class="control-group clearfix">
                            <div class="u-input-tip"><span class="text"></span></div>
                            <div class="ui-form-item-group">
                                <input type="text" class="ui-input" id="J_email_name" name="loginName" placeholder="请输入邮箱账号" passport_mars_sead_hover passport_mars_sead_input='emailRegEmail'/>
                                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                            </div>
                        </div>

                        <div class="control-group clearfix">
                            <div class="ui-form-item-group">
                                <input type="password" class="ui-input" id="J_email_pwd" name="password" maxlength="20" placeholder="密码由6-20位字母，数字和符号组合" passport_mars_sead_hover passport_mars_sead_input='emailRegPw'/>
                                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                                <div class="u-input-tip">
                    <span class="strength-indicator">
                        <span class="indicator-item-bg">
                            <span class="indicator-item"></span>
                        </span>
                        <span class="indicator-text text-weak">弱</span>
                        <span class="indicator-text text-medium">中</span>
                        <span class="indicator-text text-strong">强</span>
                    </span><!--
                 --><span class="text password-tip"></span>
                                </div>
                            </div>
                        </div>

                        <div class="control-group clearfix">
                            <div class="ui-form-item-group">
                                <input type="password" class="ui-input confirm-pwd" id="J_email_confirm_pwd" name="confirmPassword" maxlength="20" placeholder="请再次输入上面的密码" passport_mars_sead_hover passport_mars_sead_input='emailRegCPw'/>
                                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                                <div class="u-input-tip"><span class="text"></span></div>
                            </div>
                        </div>

                        <div class="control-group clearfix">
                            <div class="ui-form-item-group">
                                <input type="text" class="ui-input ipt-phone" id="J_email_mobile" name="verified" placeholder="请输入手机号码" passport_mars_sead_hover passport_mars_sead_input='emailRegMobile'/>
                                <span class="u-input-warning vipFont if-wrong">&#xe621;</span>
                                <span class="u-input-success vipFont if-success">&#xe61e;</span>
                                <div class="u-input-tip"><span class="text"></span></div>
                            </div>
                        </div>
                        <div class="control-group" id="J_verify_code_email"></div>

                        <div class="control-group clearfix">
                            <div class="ui-form-item-group adjust-tip-icon">
                                <input id="J_email_code" type="text" class="ui-input ipt-verify-code" name="pvcode" placeholder="请输入手机验证码" passport_mars_sead_hover passport_mars_sead_input='emailRegMobileCode'/><span class="u-input-warning vipFont if-wrong">&#xe621;</span><span class="u-input-success vipFont if-success">&#xe61e;</span><a href="javascript:;" role="button" id="J_email_verifycode_btn" class="ui-btn-medium ui-btn-disable btn-verify-code" passport_mars_sead_hover tabIndex="-1">获取验证码</a>
                                <div class="u-input-tip"><span class="text"></span></div>
                            </div>
                        </div>

                        <div class="control-group clearfix">
                            <div class="ui-form-item-group">
                <span class="ui-checkbox mr0">
                    <input type="checkbox" id="J_email_agree" name="agree" class="ui-checkbox-normal" value="1"><label for="J_email_agree" class="ui-checkbox-simulation"></label>
                </span>
                                <label for="J_email_agree" class="u-provision-txt">我已阅读并接受以下条款：<a href="http://support.vip.com/clause/" class="u-link" target="_blank" id="J_email_provision">《唯品会服务条款》</a><a href="http://support.vip.com/privacy/" class="u-link" target="_blank">《隐私条款》</a><a href="https://i.vpal.com/clause.html" class="u-link" target="_blank">《唯品支付用户服务协议》</a><a href="https://grcredit.vip.com/pc/protocol" class="u-link" target="_blank">《唯品信用服务协议》</a></label>
                                <div class="u-input-tip"><span class="text"></span></div>
                            </div>
                        </div>
                        <div class="control-group mb30 clearfix">
                            <a href="javascript:;" role="button" id="J_email_reg_button" class="ui-btn-large ui-btn-primary ui-btn-loading reg-form-btn form-submit">
                                <span class="ui-btn-loading-before" passport_mars_sead_hover>立即注册</span>
                                <span class="ui-btn-loading-after"><i class="ii-loading-gray-16x16"></i><span class="ui-btn-txt">处理中...</span></span>
                            </a>
                            <a href="javascript:;" class="entrance-link reg-form-link" id="J_email_to_mobile" passport_mars_sead_hover><span>手机快速注册</span><span class="vipFont if-arrow-right">&#xe614;</span></a>
                        </div>
                    </form>
                </div>
                <script type="text/javascript">
                    var isThirdLogin = false;
                </script>
            </div>
        </div>
    </div>
</div>

<div class="c-footer">
    <p class="c-copyright">Copyright 2008-2018 vip.com，All Rights Reserved ICP证：粤 B2-20080329</p>
</div>
<div id="dialog_tip">
    <div class="ui-window-mask"></div>
    <div class="ui-dialog ui-dialog-task ui-dialog-large" id="j-dialog-medium">
        <h2 class="ui-dialog-title">温馨提示</h2>
        <div class="ui-dialog-inner">
            <a href="javascript:;" role="button" class="ui-dialog-close vipFont" id="mailbox_close">&#xe609;</a>
            <div class="ui-dialog-content">
                <div class="main_title f-cb">
                    <i class="vipFont if-sigh if-size-32 fl">&#xe603;</i>
                    <label>还差一步就注册成功啦，完成验证，购物更安心</label>
                </div>
                <div class="main_p">
                    验证邮件已发送到您的&nbsp;<span class="bolder mail_account"></span>&nbsp;邮箱，请在24小时内登录邮箱，点击邮件中的链接完成注册。
                </div>
            </div>
            <div class="ui-dialog-command">
                <div class="main_button f-cb">
                    <a href="javascript:;" role="button" class="ui-btn-medium ui-btn-primary fl login_mailbox" id="J_login_mainbox">立即登录邮箱</a>
                    <label class="fl">没收到？<a href="javascript:;" class="c_blue repeat_send" id="J_repeat_send">重新发送</a></label>
                </div>
                <div class="main_tip">
                    <p class="none success_tip">已发送<span class="c_vip tip_time">120</span><span class="c_vip">s</span>，请注意查收</p>
                    <p class="none ml-10 failure_tip">系统异常，重新发送试试</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var errorMsg=[];
    var registerFormPageSourceType = 0;
    var registerFormMarsSeed = {
        // 手机注册
        "#J_mobile_name"            : "125|2|1|2",
        "#J_mobile_man"             : "125|2|1|3",
        "#J_mobile_woman"           : "125|2|1|4",
        "#J_mobile_pwd"             : "125|2|1|5",
        "#J_mobile_confirm_pwd"     : "125|2|1|6",
        "#J_mobile_verifycode_btn"  : "125|2|1|7",
        "#J_mobile_code"            : "125|2|1|8",
        "#J_mobile_reg_button"      : "125|2|1|9",
        "#J_mobile_to_email"        : "125|2|1|10",
        "#J_mobile_agree"           : "125|2|1|11",
        "#J_mobile_provision"       : "ff=125|2|1|12",
        "#for-cascade-login-link"   : "ff=125|2|1|14",

        // 新注册用户绑定  邮箱
        "#J_email_name"             : "125|2|2|2",
        "#J_email_man"              : "125|2|2|3",
        "#J_email_woman"            : "125|2|2|4",
        "#J_email_pwd"              : "125|2|2|5",
        "#J_email_confirm_pwd"      : "125|2|2|6",
        "#J_email_mobile"           : "125|2|2|7",
        "#J_email_verifycode_btn"   : "125|2|2|8",
        "#J_email_code"             : "125|2|2|9",
        "#J_email_reg_button"       : "125|2|2|10",
        "#J_email_to_mobile"        : "125|2|2|11",
        "#J_email_agree"            : "125|2|2|12",
        "#J_email_provision"        : "ff=125|2|2|13",
        // 登录弹窗
        "#J_login_mainbox"          : "125|2|2|14",
        "#J_repeat_send"            : "125|2|2|15",
        "#mailbox_close"            : "125|2|2|16"
    };
</script>
<script type="text/javascript">
    $(function(){
        $.Loader
            .advScript({
                name: 'form',
                url: '//member-ssl.vipstatic.com/js/public/passport/1/register-hash-0c638900.js'
            },{
                name: 'mars',
                url: '//3rd.vipstatic.com/mars/mars.js'
            },{
                name: 'captcha',
                url: '//captcha.vip.com/getbootstrap'
            },{
                name: 'captchaInit',
                def: function () {
                    if(window.VipSecureCode){
                        var initOpt = {
                            parseJSON: $.parseJSON,
                            stringifyJSON: $.stringifyJSON
                        };
                        /*global VipSecureCode*/
                        VipSecureCode.init(initOpt);
                    }
                },
                requires: ['captcha']
            });
    });
</script>
<noscript><img src="//mar.vip.com/n" height="1" width="1" border="0" alt="" /></noscript>

<script type="text/javascript">
    window.VTM = {
        sessionUser: {
            id: $.Cookie.get('VipRUID'),
            name: $.Cookie.get('VipRNAME')
        },
        pageId: 102
    };
    ( function(){
        var _script = document.createElement( "script" );
        _script.src = "https://ms.vipstatic.com/vtm/vtm_config_res/prod/vtm.js" +
            ( window.location.href.indexOf( "preview=1" ) != -1 ? "?preview=1" : "" );
        document.body.appendChild( _script );
    } )();
</script>
</body>
</html>
