<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="../fruitsInfojs/alert/alert.css"/>
    <link rel="stylesheet" href="../js/layui/css/layui.css" media="all">

    <script src="../js/layui/layui.js"></script>
    <script src="../js/jquery-1.8.0.js"></script>
    <script src="../fruitsInfojs/alert/alert.js"></script>
</head>
<body>
<form class="layui-form" id="updPassword">
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="x-red"></span></label>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="x-red">输入</span>原密码</label>
        <div class="layui-input-block">
            <input type="password" style="width: 350px" name="userPassword"  id="yuanpws" placeholder="请输入当前密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="x-red">输入</span>新密码</label>
        <div class="layui-input-block">
            <input type="password" style="width: 350px" name="userPassword"  id="onepwd" placeholder="请输入新密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="x-red">确定</span>密码</label>
        <div class="layui-input-block">
            <input type="password" style="width: 350px;" name="userPassword"  id="userPasswordId" placeholder="请与上面密码保持一致" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--<div class="layui-form-item">
        <label class="layui-form-label"><span class="x-red">*</span>确认密码</label>
        <div class="layui-input-block">
            <input type="password" name="password"  id="secondpwd" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" onclick="updPassword()">立即提交</button>
        </div>
    </div>
</form>
<script src="../js/layui/lay/modules/form.js"></script>
<script>
   /* layui.use(['layer', 'form'], function () {

        var  form = layui.form;

//表单验证

        form.verify({

            password: function(value) {
                if (value === "")
                    return "密码不能为空！";
                var regExpDigital = /\d/; //如果有数字
                var regExpLetters = /[a-zA-Z]/; //如果有字母
                if (!(regExpDigital.test(value) && regExpLetters.test(value) && value.length >= 8)) {
                    return '密码必须包含英文和数字！';
                }
            },
            rePassword: function(value) {
                if (value === "")
                    return "请输入二次密码！";
                var pwd = $('input[name=password]').val();
                if (pwd !== value)
                    return "二次输入的密码不一致！";
            },

        });


    })*/



   function updPassword(){
       $.ajax({
           url:"../personal/updPassword",
           type:"post",
           data:{
               yuanpws:$('#yuanpws').val(),
               onepwd:$('#onepwd').val(),
               userPassword:$('#userPasswordId').val()
           },
           success:function(data){
               if(data.code == 1){
                   alert("原密码不正确");
                   return ;
               }

               if(data.code == 2){
                   alert("两次密码不一致");
                   return ;
               }

                   window.parent.layer.closeAll(data);//关闭弹窗
                   window.parent.location.reload();

           },
           error:function(){
               alert(error)
           }
       })
   }
</script>
</body>
</html>