body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1269px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1250 {
  position:fixed;
  left:0px;
  top:0px;
  width:1269px;
  height:110px;
  overflow:hidden;
}
#u1250_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:110px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1250_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1251 {
  position:absolute;
  left:137px;
  top:4px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1253 {
  position:absolute;
  left:244px;
  top:4px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1255 {
  position:absolute;
  left:1112px;
  top:4px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1258 {
  position:absolute;
  left:819px;
  top:4px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u1260 {
  position:absolute;
  left:874px;
  top:8px;
  width:9px;
  height:6px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1263 {
  position:absolute;
  left:923px;
  top:4px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u1265 {
  position:absolute;
  left:976px;
  top:8px;
  width:10px;
  height:7px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1267 {
  position:absolute;
  left:1025px;
  top:4px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00CC00;
}
#u1269 {
  position:absolute;
  left:712px;
  top:4px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#00CC00;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00CC00;
}
#u1271 {
  position:absolute;
  left:752px;
  top:4px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#00CC00;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:86px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1273 {
  position:absolute;
  left:0px;
  top:23px;
  width:1269px;
  height:86px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:35px;
  width:1265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:oblique;
  font-size:32px;
  color:#00CC00;
}
#u1275 {
  position:absolute;
  left:78px;
  top:44px;
  width:184px;
  height:35px;
  font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:oblique;
  font-size:32px;
  color:#00CC00;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1278 {
  position:absolute;
  left:335px;
  top:41px;
  width:559px;
  height:41px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1279 {
  position:absolute;
  left:2px;
  top:12px;
  width:555px;
  word-wrap:break-word;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-left:0px;
  border-radius:20px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1280 {
  position:absolute;
  left:810px;
  top:41px;
  width:83px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1281 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u1282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u1282 {
  position:absolute;
  left:943px;
  top:49px;
  width:124px;
  height:24px;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u1283 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u1284 {
  position:absolute;
  left:1087px;
  top:49px;
  width:84px;
  height:26px;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u1285 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00CC00;
}
#u1287 {
  position:absolute;
  left:82px;
  top:4px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#00CC00;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1289 {
  position:absolute;
  left:109px;
  top:7px;
  width:11px;
  height:9px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1291 {
  position:absolute;
  left:356px;
  top:87px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1293 {
  position:absolute;
  left:422px;
  top:87px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1295 {
  position:absolute;
  left:475px;
  top:87px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1297 {
  position:absolute;
  left:520px;
  top:87px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u1298 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1299 {
  position:absolute;
  left:334px;
  top:35px;
  width:562px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1300 {
  position:absolute;
  left:78px;
  top:26px;
  width:193px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1250_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:110px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1250_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:67px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:67px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:26px;
  width:1265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:oblique;
  font-size:32px;
  color:#00CC00;
}
#u1303 {
  position:absolute;
  left:78px;
  top:18px;
  width:184px;
  height:35px;
  font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:oblique;
  font-size:32px;
  color:#00CC00;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1306 {
  position:absolute;
  left:335px;
  top:15px;
  width:559px;
  height:41px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1307 {
  position:absolute;
  left:2px;
  top:12px;
  width:555px;
  word-wrap:break-word;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-left:0px;
  border-radius:20px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1308 {
  position:absolute;
  left:810px;
  top:15px;
  width:83px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1309 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u1310 {
  position:absolute;
  left:943px;
  top:23px;
  width:124px;
  height:24px;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u1312 {
  position:absolute;
  left:1087px;
  top:23px;
  width:84px;
  height:26px;
  font-family:'华文楷体 Bold Oblique', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#00CC00;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1314 {
  position:absolute;
  left:332px;
  top:9px;
  width:562px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1315 {
  position:absolute;
  left:78px;
  top:5px;
  width:193px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.356862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1316 {
  position:absolute;
  left:0px;
  top:149px;
  width:1269px;
  height:345px;
  font-size:20px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:160px;
  width:1265px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:2223px;
  background:inherit;
  background-color:rgba(255, 244, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1318 {
  position:absolute;
  left:64px;
  top:495px;
  width:1143px;
  height:2223px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:1104px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:649px;
}
#u1320 {
  position:absolute;
  left:341px;
  top:1137px;
  width:630px;
  height:649px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:316px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:355px;
}
#u1322 {
  position:absolute;
  left:92px;
  top:1857px;
  width:345px;
  height:355px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:170px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:567px;
}
#u1324 {
  position:absolute;
  left:324px;
  top:517px;
  width:667px;
  height:567px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:276px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1326 {
  position:absolute;
  left:63px;
  top:1785px;
  width:1144px;
  height:34px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:9px;
  width:1140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:355px;
}
#u1328 {
  position:absolute;
  left:842px;
  top:1857px;
  width:345px;
  height:355px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:170px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:355px;
}
#u1330 {
  position:absolute;
  left:463px;
  top:1857px;
  width:345px;
  height:355px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:170px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:355px;
}
#u1332 {
  position:absolute;
  left:92px;
  top:2244px;
  width:345px;
  height:355px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:170px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:355px;
}
#u1334 {
  position:absolute;
  left:842px;
  top:2244px;
  width:345px;
  height:355px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:170px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:355px;
}
#u1336 {
  position:absolute;
  left:463px;
  top:2244px;
  width:345px;
  height:355px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:170px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1339 {
  position:absolute;
  left:492px;
  top:2654px;
  width:51px;
  height:17px;
  color:#999999;
  text-align:center;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1341 {
  position:absolute;
  left:700px;
  top:2654px;
  width:43px;
  height:17px;
  text-align:center;
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1343 {
  position:absolute;
  left:557px;
  top:2652px;
  width:24px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1345 {
  position:absolute;
  left:592px;
  top:2652px;
  width:29px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1347 {
  position:absolute;
  left:630px;
  top:2652px;
  width:29px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u1348 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1349 {
  position:absolute;
  left:663px;
  top:2652px;
  width:29px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1353 {
  position:absolute;
  left:62px;
  top:108px;
  width:180px;
  height:42px;
  font-size:15px;
  color:#FFFFFF;
}
#u1354 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1355 {
  position:absolute;
  left:191px;
  top:125px;
  width:11px;
  height:9px;
}
#u1356 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1357 {
  position:absolute;
  left:360px;
  top:108px;
  width:118px;
  height:42px;
}
#u1357_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1357.mouseOver {
}
#u1358 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1359 {
  position:absolute;
  left:477px;
  top:108px;
  width:118px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1359_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1359.mouseOver {
}
#u1360 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1361 {
  position:absolute;
  left:593px;
  top:108px;
  width:118px;
  height:42px;
}
#u1361_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1361.mouseOver {
}
#u1362 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  position:absolute;
  left:242px;
  top:108px;
  width:118px;
  height:42px;
}
#u1363_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363.mouseOver {
}
#u1364 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u1365 {
  position:fixed;
  left:1207px;
  bottom:40px;
  width:69px;
  height:195px;
  overflow:hidden;
}
#u1365_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:195px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1365_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:195px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.658823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:195px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:90px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u1369 {
  position:absolute;
  left:7px;
  top:9px;
  width:53px;
  height:53px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u1371 {
  position:absolute;
  left:19px;
  top:21px;
  width:33px;
  height:29px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1373 {
  position:absolute;
  left:7px;
  top:73px;
  width:51px;
  height:51px;
  font-size:15px;
  color:#FFFFFF;
}
#u1374 {
  position:absolute;
  left:2px;
  top:16px;
  width:47px;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u1375 {
  position:absolute;
  left:8px;
  top:134px;
  width:53px;
  height:53px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377 {
  position:absolute;
  left:7px;
  top:79px;
  width:82px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
