#u19745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width: 1143px;
  height:50px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u19745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width: 1143px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u19746 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:16px;
  width:1163px;
  word-wrap:break-word;
}
/*第二个*/
#u19744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width: 1143px;
  height:50px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u19744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width: 1143px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u19743 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:16px;
  width:1163px;
  word-wrap:break-word;
}