<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>优惠券-未使用</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../yx/Yhq/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="../yx/Yhq/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../yx/Yhq/styles(1).css" type="text/css" rel="stylesheet"/>
    <link href="../yx/Yhq/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../yx/Yhq/jquery-1.7.1.min.js"></script>
    <script src="../yx/Yhq/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../yx/Yhq/axQuery.js"></script>
    <script src="../yx/Yhq/globals.js"></script>
    <script src="../yx/Yhq/axutils.js"></script>
    <script src="../yx/Yhq/annotation.js"></script>
    <script src="../yx/Yhq/axQuery.std.js"></script>
    <script src="../yx/Yhq/doc.js"></script>
    <script src="../yx/Yhq/document.js"></script>

    <script src="../yx/Yhq/messagecenter.js"></script>
    <script src="../yx/Yhq/events.js"></script>
    <script src="../yx/Yhq/recording.js"></script>
    <script src="../yx/Yhq/action.js"></script>
    <script src="../yx/Yhq/expr.js"></script>
    <script src="../yx/Yhq/geometry.js"></script>
    <script src="../yx/Yhq/flyout.js"></script>
    <script src="../yx/Yhq/ie.js"></script>
    <script src="../yx/Yhq/model.js"></script>
    <script src="../yx/Yhq/repeater.js"></script>
    <script src="../yx/Yhq/sto.js"></script>
    <script src="../yx/Yhq/utils.temp.js"></script>
    <script src="../yx/Yhq/variables.js"></script>
    <script src="../yx/Yhq/drag.js"></script>
    <script src="../yx/Yhq/move.js"></script>
    <script src="../yx/Yhq/visibility.js"></script>
    <script src="../yx/Yhq/style.js"></script>
    <script src="../yx/Yhq/adaptive.js"></script>
    <script src="../yx/Yhq/tree.js"></script>
    <script src="../yx/Yhq/init.temp.js"></script>
    <script src="../yx/Yhq/data.js"></script>
    <script src="../yx/Yhq/legacy.js"></script>
    <script src="../yx/Yhq/viewer.js"></script>
    <script src="../yx/Yhq/math.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
    <style type="text/css">
        a{
            color: black;
            text-decoration: none;
        }
        .Inpt{border:0;outline:none;/*去除蓝色边框*/}

    </style>
</head>
<body>
<div id="base" class="">

    <!-- 顶部悬浮栏 (动态面板) -->
    <div id="u3364" class="ax_default" data-label="顶部悬浮栏">
        <div id="u3364_state0" class="panel_state" data-label="全">
            <div id="u3364_state0_content" class="panel_state_content">


                <div style="width:100%;margin-left:90px;position: absolute;left: 0px;top: 2px;width: 200px;white-space: nowrap;">
                    <span th:style="${flag}!=''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 30px">当前用户：<font color="red"><span th:text="${flag}"></span></font></span>
                        <span style="cursor:pointer;margin-left: 15px" onclick="toOut()">退出</span>
                    </span>
                </div>
                <div style="width:100%;margin-left:700px;position: absolute;left: 0px;top: 2px;width: 500px;white-space: nowrap;">
                    <span th:style="${flag}==''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 30px" onclick="toLogin()"><font color="#33cc00">[登陆]</font></span>
                        <span style="cursor:pointer;margin-left: 10px" onclick="toRegister()"><font color="#33cc00">[注册]</font></span>
                    </span>


                    <span th:style="${flag}!=''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 30px" onclick="toUser()">我的果仁</span>
                    </span>
                    <span style="cursor:pointer;margin-left: 50px" onclick="toShoppingCar()">我的果篮</span>
                    <span th:style="${flag}!=''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 50px" onclick="toCoupon()">优惠卷</span>
                    </span>

                </div>





                <!-- Unnamed (矩形) -->
                <div id="u3387" class="ax_default box_2">
                    <div id="u3387_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3388" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3389" class="ax_default _二级标题">
                    <div id="u3389_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3390" class="text" style="visibility: visible;">
                        <p><span>LOGO 果鲜生</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u3391" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u3392">
                        <div id="u3392_div" class="">
                            <input id="input1" onchange="cop()" placeholder="试试 “草莓”" style="width: 490px;height: 41px;border-radius:18px;padding-left:20px;"  class="Inpt"/>
                        </div>
                        <!-- Unnamed () -->
                        <div  class="text" style="visibility: visible;">
                            <p><span>&nbsp;&nbsp; &nbsp; 试试 “红心火龙果”</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u3394" class="ax_default box_1">
                        <div id="u3394_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u3395" class="text" style="visibility: visible;">
                            <p><span onclick="toSearch()" style="cursor:pointer;">搜索</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3396" class="ax_default _二级标题">
                    <div id="u3396_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3397" class="text" style="visibility: visible;">
                        <p><span>59分钟内送达</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3398" class="ax_default _二级标题">
                    <div id="u3398_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3399" class="text" style="visibility: visible;">
                        <p><span>全球直采</span></p>
                    </div>
                </div>



                <!-- Unnamed (矩形) -->
                <div id="u3405" class="ax_default label">
                    <div id="u3405_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3406" class="text" style="visibility: visible;">
                        <p><span>江西脐橙</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3407" class="ax_default label">
                    <div id="u3407_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3408" class="text" style="visibility: visible;">
                        <p><span>哈密瓜</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3409" class="ax_default label">
                    <div id="u3409_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3410" class="text" style="visibility: visible;">
                        <p><span>草莓</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3411" class="ax_default label">
                    <div id="u3411_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3412" class="text" style="visibility: visible;">
                        <p><span>猕猴桃</span></p>
                    </div>
                </div>



                <!-- Unnamed (热区) -->
                <div id="u3414" class="ax_default">
                </div>
            </div>
        </div>
        <div id="u3364_state1" class="panel_state" data-label="精简" style="display: none; visibility: hidden;">
            <div id="u3364_state1_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u3415" class="ax_default box_2">
                    <div id="u3415_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3416" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3417" class="ax_default _二级标题">
                    <div id="u3417_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3418" class="text" style="visibility: visible;">
                        <p><span>LOGO 果鲜生</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u3419" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u3420" >
                        <div id="u3420_div" class="">
                            <input id="input2" onchange="cop2()" placeholder="试试 “草莓”" style="width: 490px;height: 41px;border-radius:18px;padding-left:20px;"  class="Inpt"/>
                        </div>
                        <!-- Unnamed () -->
                        <div  class="text" style="visibility: visible;">
                            <p><span>&nbsp;&nbsp; &nbsp; 试试 “红心火龙果”</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u3422" class="ax_default box_1">
                        <div id="u3422_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u3423" class="text" style="visibility: visible;">
                            <p><span onclick="toSearch()" style="cursor:pointer;">搜索</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3424" class="ax_default _二级标题">
                    <div id="u3424_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3425" class="text" style="visibility: visible;">
                        <p><span>59分钟内送达</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3426" class="ax_default _二级标题">
                    <div id="u3426_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3427" class="text" style="visibility: visible;">
                        <p><span>全球直采</span></p>
                    </div>
                </div>



                <!-- Unnamed (热区) -->
                <div id="u3429" class="ax_default">
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u3430" class="ax_default">
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3431" class="ax_default box_2">
        <div id="u3431_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3432" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
   <!-- <div id="u3433" class="ax_default box_1">
        <div id="u3433_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3434" class="text" style="visibility: visible;">
            <p><span>我的订单</span></p>
        </div>
    </div>-->

    <!-- Unnamed (矩形) -->
    <!--<div id="u3435" class="ax_default box_1">
        <div id="u3435_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3436" class="text" style="visibility: visible;">
            <p><span>我的钱包</span></p>
        </div>
    </div>-->

    <!-- Unnamed (矩形) -->
    <div id="u3437" class="ax_default label">
        <div id="u3437_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3438" class="text" style="visibility: visible;">
            <p><span>账号信息</span></p>
        </div>

        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;margin-top: 26px;text-align: center;padding-top: 12px">
            <span><font size="2px" onclick="myOrder()">我的订单</font></span>
        </div>
        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;text-align: center;padding-top: 12px">
            <span><font size="2px" onclick="toCoupon()">优惠券</font></span>
        </div>
        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;text-align: center;padding-top: 12px">
            <span><font size="2px" onclick="toPersonal()">个人资料</font></span>
        </div>
        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;text-align: center;padding-top: 12px">
            <span><font size="2px" onclick="toAccount()">账号安全</font></span>
        </div>
    </div>



    <!-- Unnamed (矩形) -->
    <!--<div id="u3441" class="ax_default box_1">
        <div id="u3441_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3442" class="text" style="visibility: visible;">
            <p><span onclick="toPersonal()">个人资料</span></p>
        </div>
    </div>-->

    <!-- Unnamed (矩形) -->
    <!--<div id="u3443" class="ax_default box_1">
        <div id="u3443_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3444" class="text" style="visibility: visible;">
            <p><span onclick="toAccount()">账号安全</span></p>
        </div>
    </div>-->





    <!-- Unnamed (矩形) -->
    <div id="u3453" class="ax_default box_1">
        <div id="u3453_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3454" class="text" style="visibility: visible;">
            <p><span onclick="toIndex()">首页</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3455" class="ax_default box_1">
        <div id="u3455_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3456" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <!--<div id="u3457" class="ax_default label">
        <div id="u3457_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3458" class="text" style="visibility: visible;">
            <p><span>优惠券</span></p>
        </div>
    </div>-->

    <!-- Unnamed (水平线) -->
    <div id="u3459" class="ax_default line">
        <img id="u3459_img" class="img " src="images/我的订单/u2817.png"/>
        <!-- Unnamed () -->
        <div id="u3460" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3461" class="ax_default box_2">
        <div id="u3461_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3462" class="text" style="visibility: visible;">
            <p><span>我的果仁</span></p>
        </div>
    </div>

   <!-- <div id="u3463" class="ax_default box_1">
        <div id="u3463_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3464" class="text" style="visibility: visible;">
            <p><span>优惠券</span></p>
        </div>
    </div>-->
    <!-- Unnamed (矩形) -->

    <!-- Unnamed (矩形) -->
    <div id="u3465" class="ax_default box_1">
        <div id="u3465_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3466" class="text">
            <p><span >未使用</span>
                <span onclick="Ysh()"></span>
            </p>
        </div>
    </div>



    <!-- Unnamed (矩形) -->
    <div id="u3469" class="ax_default box_1">
        <div id="u3469_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3470" class="text" style="visibility: visible;">
            <p><span>待领取</span></p>
        </div>
    </div>




    <!-- 优惠券 -->





    <!-- Unnamed (组合) -->
    <div id="u3333" class="ax_default">

    </div>
    <!-- 优惠券 -->





    <!-- 节点 (热区) -->
    <div id="u3551" class="ax_default" data-label="节点">
    </div>



</div>
</body>

<script>


    $(function(){
        queryCouponYxList();
        dingshi();
    })

    function queryCouponYxList(){
        $.ajax({
            url:'/yx/queryCouponYxList',
            type:'get',
            success:function(result){
                var sd = result[0].startDate;

                var ed = result[0].endDate;
                var jqsd = sd.substring(0,10);
                var jqed = ed.substring(0,10);
                var x = "";
                for(var i=0;i<result.length;i++){

                    x+=
                        '<div id="u3471" class="ax_default">'+
                        '<div id="u3472" class="ax_default box_1">'+
                        '<div id="u3472_div" class="">'+'</div>'+

                        '<div id="u3473" class="text" style="display: none; visibility: hidden">'+
                        '<p>'+'<span>'+'</span>'+'</p>'+
                        '</div>'+
                        '</div>'+


                        '<div id="u3474" class="ax_default">'+


                        '<div id="u3475" class="ax_default box_1">'+
                        '<div id="u3475_div" class="">'+'</div>'+

                        '<div id="u3476" class="text" style="display: none; visibility: hidden">'+
                        '<p>'+'<span>'+'</span>'+'</p>'+
                        '</div>'+
                        '</div>'+


                        '<div id="u3477" class="ax_default label">'+
                        '<div id="u3477_div" class="">'+'</div>'+

                        '<div id="u3478" class="text" style="visibility: visible;">'+
                        '<p>'+'<span>'+'满减券'+'</span>'+'</p>'+
                        '</div>'+
                        '</div>'+
                        '</div>'+




                        '<div id="u3481" class="ax_default label">'+
                        '<div id="u3481_div" class="">'+'</div>'+

                        '<div id="u3482" class="text" style="visibility: visible;">'+
                        '<p>'+'<span>'+'￥'+result[0].faceValue+'</span>'+'</p>'+
                        '</div>'+
                        '</div>'+


                        '<div id="u3483" class="ax_default label">'+
                        '<div id="u3483_div" class="">'+'</div>'+

                        '<div id="u3484" class="text" style="visibility: visible;">'+
                        '<p>'+'<span>'+result[0].name+'</span>'+'</p>'+
                        '</div>'+
                        '</div>'+


                        '<div id="u3485" class="ax_default label">'+
                        '<div id="u3485_div" class="">'+'</div>'+

                        '<div id="u3486" class="text" style="visibility: visible;">'+
                        '<p>'+'<span>'+result[0].maxPrice+'</span>'+'</p>'+
                        '</div>'+
                        '</div>'+


                        '<div id="u3487" class="ax_default label">'+
                        '<div id="u3487_div" class="">'+'</div>'+

                        '<div id="u3488" class="text" style="visibility: visible;">'+
                        '<p>'+'<span>'+jqsd+'</span>'+'至'+'<span>'+jqed+'</span>'+'</p>'+

                        '</div>'+
                        '</div>'+


                        '<div id="u3489" class="ax_default button">'+
                        '<div id="u3489_div" class="">'+'</div>'+

                        '<div id="u3490" class="text" style="visibility: visible;">'+
                        '<p>'+'<a href="javascript:lingqu(\''+result[0].id+'\');">领取</a>'+'</p>'+
                        '</div>'+
                        '</div>'+



                        '</div>';
                }
                $("#u3333").html(x);
            }
        })
    }

     <!-- 领取优惠券 -->
     function  lingqu(id) {
         $.ajax({
                 url:'/yx/updateCouponBi?id='+id,
                 type:'post',
                 success:function(result){
                     location = location;
                     queryCouponYxList();
                 }
         })
     }


    <!-- 点击已使用跳转页面 -->

    function Ysh(){

        location.href="/user/已使用.html";
    }

    function Ygq(){

        location.href="/yx/已过期.html";
    }

    function dingshi(){
        $.ajax({
                url:'/yx/updateStatus',
                type:'get',
                success:function(){

                }
        })
    }

      function toIndex() {
          location.href="../user/首页.html";
      }
      function toPersonal() {
          location.href="../user/个人资料.html";
      }


    //账号安全
    function toAccount(){
        location.href="../user/账户安全.html";
    }

    //将文本框1的内容同步到文本框2
    function cop(){
        var input1 = $('#input1').val();
        $('#input2').val(input1);
    }

    //将文本框2的内容同步到文本框1
    function cop2(){
        var input2 = $('#input2').val();
        $('#input1').val(input2);
    }

    //跳转solr搜索页面
    function toSearch(){
        var input = $('.Inpt').val();
        location.href="../searchFruits/toSearchFruits?input="+input;
    }


    //跳转我的果仁
    function toUser(){
        location.href="../user/个人资料.html";
    }

    //跳转登陆页面
    function toLogin(){
        location.href="../user/toLogin2";
    }

    //跳转注册页面
    function toRegister(){
        location.href="../user/toRegister2";
    }

    //退出
    function toOut(){
        location.href="../user/toOut";
    }

    //跳转到优惠券页面
    function toCoupon(){
        location.href="../user/优惠券-未使用.html";
    }

    //跳转到购物车页面
    function toShoppingCar(){
        location.href="../fruitsInfo/toShoppingCar?code=1";
    }

    //跳转我的订单页面
    function myOrder(){
        location.href="../yx/toMyOrder";
    }
</script>





</html>
