<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>已使用</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../yx/Ysy/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="../yx/Ysy/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../yx/Ysy/styles(1).css" type="text/css" rel="stylesheet"/>
    <link href="../yx/Ysy/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../yx/Ysy/jquery-1.7.1.min.js"></script>
    <script src="../yx/Ysy/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../yx/Ysy/axQuery.js"></script>
    <script src="../yx/Ysy/globals.js"></script>
    <script src="../yx/Ysy/axutils.js"></script>
    <script src="../yx/Ysy/annotation.js"></script>
    <script src="../yx/Ysy/axQuery.std.js"></script>
    <script src="../yx/Ysy/doc.js"></script>
    <script src="../yx/Ysy/document.js"></script>

    <script src="../yx/Ysy/messagecenter.js"></script>
    <script src="../yx/Ysy/events.js"></script>
    <script src="../yx/Ysy/recording.js"></script>
    <script src="../yx/Ysy/action.js"></script>
    <script src="../yx/Ysy/expr.js"></script>
    <script src="../yx/Ysy/geometry.js"></script>
    <script src="../yx/Ysy/flyout.js"></script>
    <script src="../yx/Ysy/ie.js"></script>
    <script src="../yx/Ysy/model.js"></script>
    <script src="../yx/Ysy/repeater.js"></script>
    <script src="../yx/Ysy/sto.js"></script>
    <script src="../yx/Ysy/utils.temp.js"></script>
    <script src="../yx/Ysy/variables.js"></script>
    <script src="../yx/Ysy/drag.js"></script>
    <script src="../yx/Ysy/move.js"></script>
    <script src="../yx/Ysy/visibility.js"></script>
    <script src="../yx/Ysy/style.js"></script>
    <script src="../yx/Ysy/adaptive.js"></script>
    <script src="../yx/Ysy/tree.js"></script>
    <script src="../yx/Ysy/init.temp.js"></script>
    <script src="../yx/Ysy/data.js"></script>
    <script src="../yx/Ysy/legacy.js"></script>
    <script src="../yx/Ysy/viewer.js"></script>
    <script src="../yx/Ysy/math.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
    <style type="text/css">
        a{
            color: black;
            text-decoration: none;
        }
        .Inpt{border:0;outline:none;/*去除蓝色边框*/}

    </style>
</head>
<body>
<div id="base" class="">

    <!-- 顶部悬浮栏 (动态面板) -->
    <div id="u3552" class="ax_default" data-label="顶部悬浮栏">
        <div id="u3552_state0" class="panel_state" data-label="全">
            <div id="u3552_state0_content" class="panel_state_content">





                <div style="width:100%;margin-left:90px;position: absolute;left: 0px;top: 2px;width: 200px;white-space: nowrap;">
                    <span th:style="${flag}!=''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 30px">当前用户：<font color="red"><span th:text="${flag}"></span></font></span>
                        <span style="cursor:pointer;margin-left: 15px" onclick="toOut()">退出</span>
                    </span>
                </div>
                <div style="width:100%;margin-left:700px;position: absolute;left: 0px;top: 2px;width: 500px;white-space: nowrap;">
                    <span th:style="${flag}==''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 30px" onclick="toLogin()"><font color="#33cc00">[登陆]</font></span>
                        <span style="cursor:pointer;margin-left: 10px" onclick="toRegister()"><font color="#33cc00">[注册]</font></span>
                    </span>


                    <span th:style="${flag}!=''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 30px" onclick="toUser()">我的果仁</span>
                    </span>
                    <span style="cursor:pointer;margin-left: 50px" onclick="toShoppingCar()">我的果篮</span>
                    <span th:style="${flag}!=''?'':'display: none'">
                        <span style="cursor:pointer;margin-left: 50px" onclick="toCoupon()">优惠卷</span>
                    </span>

                </div>



                <!-- Unnamed (矩形) -->
                <div id="u3575" class="ax_default box_2">
                    <div id="u3575_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3576" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3577" class="ax_default _二级标题">
                    <div id="u3577_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3578" class="text" style="visibility: visible;">
                        <p><span>LOGO 果鲜生</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u3579" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u3580" class="ax_default box_1">
                        <div id="u3580_div" class="">
                            <input id="input2" onchange="cop2()" placeholder="试试 “草莓”" style="width: 490px;height: 41px;border-radius:18px;padding-left:20px;"  class="Inpt"/>
                        </div>
                        <!-- Unnamed () -->
                        <div class="text" style="visibility: visible;">
                            <p><span>&nbsp;&nbsp; &nbsp; 试试 “红心火龙果”</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u3582" class="ax_default box_1">
                        <div id="u3582_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u3583" class="text" style="visibility: visible;">
                            <p><span onclick="toSearch()" style="cursor:pointer;">搜索</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3584" class="ax_default _二级标题">
                    <div id="u3584_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3585" class="text" style="visibility: visible;">
                        <p><span>59分钟内送达</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3586" class="ax_default _二级标题">
                    <div id="u3586_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3587" class="text" style="visibility: visible;">
                        <p><span>全球直采</span></p>
                    </div>
                </div>



                <!-- Unnamed (矩形) -->
                <div id="u3593" class="ax_default label">
                    <div id="u3593_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3594" class="text" style="visibility: visible;">
                        <p><span>江西脐橙</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3595" class="ax_default label">
                    <div id="u3595_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3596" class="text" style="visibility: visible;">
                        <p><span>哈密瓜</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3597" class="ax_default label">
                    <div id="u3597_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3598" class="text" style="visibility: visible;">
                        <p><span>草莓</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3599" class="ax_default label">
                    <div id="u3599_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3600" class="text" style="visibility: visible;">
                        <p><span>猕猴桃</span></p>
                    </div>
                </div>



                <!-- Unnamed (热区) -->
                <div id="u3602" class="ax_default">
                </div>
            </div>
        </div>
        <div id="u3552_state1" class="panel_state" data-label="精简" style="display: none; visibility: hidden;">
            <div id="u3552_state1_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u3603" class="ax_default box_2">
                    <div id="u3603_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3604" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3605" class="ax_default _二级标题">
                    <div id="u3605_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3606" class="text" style="visibility: visible;">
                        <p><span>LOGO 果鲜生</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u3607" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u3608">
                        <div id="u3608_div" class="">
                            <input id="input1" onchange="cop()" placeholder="试试 “草莓”" style="width: 490px;height: 41px;border-radius:18px;padding-left:20px;"  class="Inpt"/>
                        </div>
                        <!-- Unnamed () -->
                        <div class="text" style="visibility: visible;">
                            <p><span>&nbsp;&nbsp; &nbsp; 试试 “红心火龙果”</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u3610" class="ax_default box_1">
                        <div id="u3610_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u3611" class="text" style="visibility: visible;">
                            <p><span onclick="toSearch()" style="cursor:pointer;">搜索</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3612" class="ax_default _二级标题">
                    <div id="u3612_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3613" class="text" style="visibility: visible;">
                        <p><span>59分钟内送达</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3614" class="ax_default _二级标题">
                    <div id="u3614_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3615" class="text" style="visibility: visible;">
                        <p><span>全球直采</span></p>
                    </div>
                </div>



                <!-- Unnamed (热区) -->
                <div id="u3617" class="ax_default">
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u3618" class="ax_default">
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3619" class="ax_default box_2">
        <div id="u3619_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3620" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <!--<div id="u3621" class="ax_default box_1">
        <div id="u3621_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3622" class="text" style="visibility: visible;">
            <p><span>我的订单</span></p>
        </div>
    </div>-->

    <!-- Unnamed (矩形) -->
    <!--<div id="u3623" class="ax_default box_1">
        <div id="u3623_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3624" class="text" style="visibility: visible;">
            <p><span>我的钱包</span></p>
        </div>
    </div>-->

    <!-- Unnamed (矩形) -->
    <div id="u3625" class="ax_default label">
        <div id="u3625_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3626" class="text" style="visibility: visible;">
            <p><span>账号信息</span></p>
        </div>

        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;margin-top: 26px;text-align: center;padding-top: 12px">
            <span><font size="2px" onclick="myOrder()">我的订单</font></span>
        </div>
        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;text-align: center;padding-top: 12px">
            <span><font size="2px" onclick="toCoupon()">优惠券</font></span>
        </div>
        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;text-align: center;padding-top: 12px">
            <span><font size="2px" onclick="toPersonal()">个人资料</font></span>
        </div>
        <div style="cursor:pointer;width: 117px;height: 42px;border: solid 1px rgba(228, 228, 228, 1);margin-left: -20px;text-align: center;padding-top: 12px">
            <span><font size="2px" onclick="toAccount()">账号安全</font></span>
        </div>
    </div>




    <!-- Unnamed (矩形) -->
   <!-- <div id="u3629" class="ax_default box_1">
        <div id="u3629_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3630" class="text" style="visibility: visible;">
            <p><span>个人资料</span></p>
        </div>
    </div>

    &lt;!&ndash; Unnamed (矩形) &ndash;&gt;
    <div id="u3631" class="ax_default box_1">
        <div id="u3631_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3632" class="text" style="visibility: visible;">
            <p><span>账号安全</span></p>
        </div>
    </div>-->




    <!-- Unnamed (矩形) -->
    <div id="u3641" class="ax_default box_1">
        <div id="u3641_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3642" class="text" style="visibility: visible;">
            <p><span onclick="toIndex()">首页</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3643" class="ax_default box_1">
        <div id="u3643_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3644" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
   <!-- <div id="u3645" class="ax_default label">
        <div id="u3645_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3646" class="text" style="visibility: visible;">
            <p><span>优惠券</span></p>
        </div>
    </div>-->

    <!-- Unnamed (水平线) -->
    <div id="u3647" class="ax_default line">
        <img id="u3647_img" class="img " src="../yx/Ysy/u2817.png"/>
        <!-- Unnamed () -->
        <div id="u3648" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u3649" class="ax_default box_2">
        <div id="u3649_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3650" class="text" style="visibility: visible;">
            <p><span>我的果仁</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <!--<div id="u3651" class="ax_default box_1">
        <div id="u3651_div" class=""></div>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u3652" class="text" style="visibility: visible;">
            <p><span>优惠券</span></p>
        </div>
    </div>-->

    <!-- Unnamed (矩形) -->
    <div id="u3653" class="ax_default box_1">
        <div id="u3653_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3654" class="text" style="visibility: visible;">
            <p><span>未使用</span></p>
        </div>
    </div>



    <!-- Unnamed (矩形) -->
    <div id="u3657" class="ax_default box_1">
        <div id="u3657_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3658" class="text" style="visibility: visible;">
            <p><span onclick="tiao1()">待领取</span></p>
        </div>
    </div>


    <!-- 已使用优惠券列表 -->
   <div id="u3659" class="ax_default">


    <div id="u3660" class="ax_default table_cell">
        <img id="u3660_img" class="img " src="../yx/Ysy/u3660.png"/>

        <div id="u3661" class="text" style="visibility: visible;">
            <p><span>优惠券代码</span></p>
            </div>
        </div>


    <div id="u3662" class="ax_default table_cell">
        <img id="u3662_img" class="img " src="../yx/Ysy/u3662.png"/>

        <div id="u3663" class="text" style="visibility: visible;">
            <p><span>面值</span></p>
            </div>
        </div>


    <div id="u3664" class="ax_default table_cell">
        <img id="u3664_img" class="img " src="../yx/Ysy/u3664.png"/>

        <div id="u3665" class="text" style="visibility: visible;">
            <p><span>需消费金额</span></p>
            </div>
        </div>


    <div id="u3666" class="ax_default table_cell">
        <img id="u3666_img" class="img " src="../yx/Ysy/u3666.png"/>

        <div id="u3667" class="text" style="visibility: visible;">
            <p><span>优惠券描述</span></p>
            </div>
        </div>


    <div id="u3668" class="ax_default table_cell">
        <img id="u3668_img" class="img " src="../yx/Ysy/u3668.png"/>

        <div id="u3669" class="text" style="visibility: visible;">
            <p><span>截至日期</span></p>
            </div>
        </div>

    <div id="uu55k" class="ax_default">



    </div>
    <!-- 已使用优惠券列表 -->


   </div>



    <!-- 节点 (热区) -->
    <div id="u3690" class="ax_default" data-label="节点">
    </div>

</div>
</body>


<script>

    $(function(){
         getUsedCouponList();
        dingshi3();
    })


    function getUsedCouponList() {
           $.ajax({
                   url:'/yx/getUsedCouponList',
                   type:'get',
                   success:function(result) {
                       var x = "";
                       for (var i = 0; i < result.length; i++) {
                           x +=



                               '<div id="u3670" class="ax_default table_cell">' +
                               '<img id="u3670_img" class="img " src="../yx/Ysy/u3670.png"/>' +

                               '<div id="u3671" class="text" style="visibility: visible;">' +
                               '<p>' + '<span>' + result[0].cnumber + '</span>' + '</p>' +
                               '</div>' +
                               '</div>' +


                               '<div id="u3672" class="ax_default table_cell">' +
                               '<img id="u3672_img" class="img " src="../yx/Ysy/u3672.png"/>' +

                               '<div id="u3673" class="text" style="visibility: visible;">' +
                               '<p>' + '<span>' + result[0].faceValue + '</span>' + '</p>' +
                               '</div>' +
                               '</div>' +


                               '<div id="u3674" class="ax_default table_cell">' +
                               '<img id="u3674_img" class="img " src="../yx/Ysy/u3674.png"/>' +

                               '<div id="u3675" class="text" style="visibility: visible;">' +
                               '<p>' + '<span>' + result[0].maxPrice + '</span>' + '</p>' +
                               '</div>' +
                               '</div>' +


                               '<div id="u3676" class="ax_default table_cell">' +
                               '<img id="u3676_img" class="img " src="../yx/Ysy/u3676.png"/>' +

                               '<div id="u3677" class="text" style="visibility: visible;">' +
                               '<p>' + '<span>' + result[0].name + '</span>' + '</p>' +
                               '</div>' +
                               '</div>' +


                               '<div id="u3678" class="ax_default table_cell">' +
                               '<img id="u3678_img" class="img " src="../yx/Ysy/u3678.png"/>' +

                               '<div id="u3679" class="text" style="visibility: visible;">' +
                               '<p>' + '<span>' + result[0].endDate + '</span>' + '</p>' +
                               '</div>' +
                               '</div>'





                       }
                       $("#uu55k").html(x);
                   }

           })

    }



    <!-- 跳转已过期页面 -->

    function Ygq(){
        location.href="/yx/已过期.html";
    }

    function tiao1(){
        location.href="/user/优惠券-未使用.html";
    }

    function dingshi3(){
        $.ajax({
            url:'/yx/updateStatus',
            type:'get',
            success:function(){

            }
        })
    }
    function toIndex() {
        location.href="../user/首页.html";
    }

    //将文本框1的内容同步到文本框2
    function cop(){
        var input1 = $('#input1').val();
        $('#input2').val(input1);
    }

    //将文本框2的内容同步到文本框1
    function cop2(){
        var input2 = $('#input2').val();
        $('#input1').val(input2);
    }

    //跳转solr搜索页面
    function toSearch(){
        var input = $('.Inpt').val();
        location.href="../searchFruits/toSearchFruits?input="+input;
    }

    //跳转登陆页面
    function toLogin(){
        location.href="../user/toLogin2";
    }

    //跳转注册页面
    function toRegister(){
        location.href="../user/toRegister2";
    }

    //退出
    function toOut(){
        location.href="../user/toOut";
    }

    //跳转到优惠券页面
    function toCoupon(){
        location.href="../user/优惠券-未使用.html";
    }

    //跳转我的果仁
    function toUser(){
        location.href="../user/个人资料.html";
    }

    //跳转到购物车页面
    function toShoppingCar(){
        location.href="../fruitsInfo/toShoppingCar?code=1";
    }

    function toPersonal() {
        location.href="../user/个人资料.html";
    }

    //账号安全
    function toAccount(){
        location.href="../user/账户安全.html";
    }

    //跳转我的订单页面
    function myOrder(){
        location.href="../yx/toMyOrder";
    }

</script>


</html>
